.headerContainer {
  height: 15vh;
  max-height: 65px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: var(--secondary-light);

  color: var(--white);
  transition: color 0.5s;
  transition: background-color 0.5s;
}

.headerContainerTitle {
  display: contents;
}
